@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #e8e8e8;
}

.wrapper {
  max-width: 841px;
  margin: 0 auto;
  padding: 0 0 137px 0;
}

.content-top {
  text-align: center;
  margin: 0 0 65px 0;
}

.content-top__heading {
  text-transform: uppercase;
  color: #878f92;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 2.8px;
  margin: 168px 0 0 0;
  line-height: 40px;
}

.content-top__title {
  color: #273d46;
  font-size: 36px;
  line-height: 50px;
  max-width: 761.55px;
  margin: 0 auto;
}

.content-img {
  text-align: center;
  margin: 0 0 87px 0;
}

.content-img__item {
  border: 10px solid #fff;
  -webkit-box-shadow: 15px 0 65px rgba(15, 16, 16, 0.15);
          box-shadow: 15px 0 65px rgba(15, 16, 16, 0.15);
}

.content-bottom {
  width: 749px;
  margin: 0 auto;
}

.content-bottom__text {
  line-height: 40px;
  font-size: 24px;
  color: #80888c;
}

.content-bottom__text p {
  margin: 0 0 40px 0;
}

.content-bottom__text p:last-child {
  margin: 0 0 44px 0;
}

.content-bottom__list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 58px 0;
}

.content-bottom__list li {
  padding: 0 0 3.5px 7.5px;
}

.content-bottom__list li:nth-child(1) {
  color: #273d46;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3);
}

.content-bottom__list li:nth-child(2) {
  font-style: italic;
  color: #80b7b3;
}

.content-bottom__list li:nth-child(3) {
  color: #273d46;
  font-weight: 600;
}

.content-bottom__list li:nth-child(4) {
  text-decoration: line-through;
  color: #bbbebf;
}

.content-bottom__list li:before {
  content: "";
  background: url("../img/icons/check.png") no-repeat;
  position: relative;
  top: 3px;
  left: -12px;
  width: 25px;
  height: 19px;
  display: inline-block;
}

.content-bottom__link {
  text-transform: uppercase;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 2.8px;
  background-color: #80b7b3;
  display: inline-block;
  height: 43px;
  line-height: 43px;
  padding: 0 27px;
  border-radius: 24px;
  -webkit-box-shadow: 6px 0 40px rgba(128, 183, 179, 0.54);
          box-shadow: 6px 0 40px rgba(128, 183, 179, 0.54);
}

.content-bottom__link span:after {
  background: url("../img/icons/arrow.png") no-repeat;
  display: inline-block;
  content: "";
  position: relative;
  left: 9px;
  top: 0;
  width: 22px;
  height: 13px;
  padding: 0 15px;
}
